body, html {
  height: 100%;
}

.bgimg {
  background-image: url(https://pbs.twimg.com/media/DMDIKcyWsAEsKDj.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  color: #dff9fb;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border: 3px solid grey;
  border-radius: 5px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #130f40;
}

hr {
  margin: auto;
  width: 40%;
}