body {
  font-family: arial, sans-serif;
}

.checkcaption {
  text-align: center;
  margin-top: 10px;
}

/*.check {
  width: 60px;
  height: 30px;
  border: #222 solid 2px;
  position: relative;
  margin: 10px auto;
  border-radius: 15px;
}
.check input {
  visibility: hidden;
  height: 30px;
  width: 60px;
}
.check label {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e74c3c;
  cursor: pointer;
  position: absolute;
  top: 18%;
  left: 12%;
  transition: all .3s ease;
}
.check input:checked + label {
  left: 55%;
  background-color: #7b3;
}
*/
div#timeline {
  left: 10%;
  background-color: #ffffff;
  margin-top: 150px;
  height: 5px;
  width: 80%;
  position: relative;
}
div#timeline .inside {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 0%;
  top: 5px;
  left: 0;
  text-align: left;
  left: 40px;
  width: 100px;
  background-color: unset;
  color: white;
}
.dot {
  z-index: 99;
  transition: 0.3s ease-in-out;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: -32px;
  text-align: center;
  cursor: pointer;
}
.dot:nth-child(1) {
  left: 0%;
  background-color: #ffffff;
}
.dot:nth-child(2) {
  left: 30%;
  background-color: #ffffff;
}
.dot:nth-child(3) {
  left: 65%;
  background-color: #ffffff;
}
.dot:nth-child(4) {
  left: 95%;
  background-color: #ffffff;
}
div#timeline .dot:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
div#timeline .dot date {
  font-family: roboto;
  font-size: 1.8rem;
  display: block;
  position: relative;
  top: -30px;
  text-align: center;
  color: white;
}
div#timeline .dot span {
  display: inline-block;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:767px){

  div#timeline {
    left: 5%;
    background-color: #ffffff;
    margin-top: 300px;
    height: 5px;
    width: 80%;
    position: relative;
  }

  .dot {
    z-index: 70;
    transition: 0.3s ease-in-out;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: -31px;
    text-align: center;
    cursor: pointer;
  }

  div#timeline .dot date {
    font-family: roboto;
    font-size: 1rem;
    display: block;
    position: relative;
    top: -20px;
    text-align: center;
    color: white;
  }

}