body {
  font-family: arial, sans-serif;
}

.checkcaption {
  text-align: center;
  margin-top: 10px;
}

.check {
  width: 60px;
  height: 30px;
  border: #222 solid 2px;
  position: relative;
  margin: 10px auto;
  border-radius: 15px;
}
.check input {
  visibility: hidden;
  height: 30px;
  width: 60px;
}
.check label {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e74c3c;
  cursor: pointer;
  position: absolute;
  top: 18%;
  left: 12%;
  transition: all .3s ease;
}
.check input:checked + label {
  left: 55%;
  background-color: #7b3;
}

div#timeline {
  background-color: #6ab0de;
  margin-top: 150px;
  height: 10px;
  width: 100%;
  position: relative;
}
div#timeline .inside {
  position: absolute;
  height: 4px;
  background-color: #fff;
  width: 0%;
  top: 3px;
  left: 0;
}
div#timeline .dot {
  z-index: 99;
  transition: 0.3s ease-in-out;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  text-align: center;
  cursor: pointer;
}
div#timeline .dot:nth-child(1) {
  left: 20%;
  background-color: #2c3e50;
}
div#timeline .dot:nth-child(2) {
  left: 40%;
  background-color: #e74c3c;
}
div#timeline .dot:nth-child(3) {
  left: 60%;
  background-color: #7b3;
}
div#timeline .dot:nth-child(4) {
  left: 80%;
  background-color: #20638f;
}
div#timeline .dot:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
div#timeline .dot date {
  font-family: roboto;
  font-size: 1.1rem;
  display: block;
  position: relative;
  top: -60px;
  text-align: center;
}
div#timeline .dot span {
  display: inline-block;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
